.slider {
    position: absolute;
    transition: transform 0.7s;
}

#main {
    width: 700px;
    height: 500px;
    margin-top: 3%;
    margin-left: 23%;
    overflow: hidden;
    position: relative;
}
